.checkout-page-container {
  padding: 110px 50px 50px;
}

.checkout-page-container .top-side {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.checkout-page-container .top-side .left-side,
.checkout-page-container .top-side .right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgb(234, 234, 234);
  background-color: rgb(250, 250, 250);
  padding: 30px;
}

.checkout-page-container .top-side .left-side .title,
.checkout-page-container .top-side .right-side .title,
.checkout-page-container .bottom-side .title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--orange);
}
