.cart-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-page-container .cart-page {
  width: 1000px;
  max-width: 90vw;
}

.cart-page-container .empty-cart {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.cart-page-container .empty-cart .empty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-page-container .empty-cart i {
  font-size: 2rem;
  color: var(--orange);
}

.cart-page-container .shopping-cart-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 120px 0 30px;
  padding: 0 50px;
  width: 100%;
  text-align: center;
}

.cart-page-container .cart-total-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 50px;
}

.cart-page-container .cart-total-container .top-side {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
}

.cart-page-container .top-side button {
  height: 40px;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(207, 207, 207);
  padding: 0 20px;
  border-radius: 5px;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.cart-page-container .top-side button:hover {
  color: var(--orange);
}

.cart-page-container .cart-total span {
  font-weight: 700;
}

.cart-page-container .checkout,
.cart-page-container .empty-cart button {
  height: 40px;
  border: 0;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 0 20px;
  border-radius: 5px;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.cart-page-container .checkout:hover,
.cart-page-container .empty-cart button:hover {
  background-color: var(--black-hover);
}
