.login-page-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.login-page-container .login-container {
  background-color: var(--orange);
  padding: 50px 50px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}

.login-page-container .login-container .login-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.login-page-container .login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.login-page-container .login-container form label {
  letter-spacing: 1px;
}

.login-page-container .login-container form input {
  width: 100%;
}

.login-page-container .login-container form .button-container {
  display: flex;
  justify-content: center;
}

.button-container.disabled button {
  opacity: 0.5;
  pointer-events: none;
}

.button-container button {
  opacity: 1;
  background-color: black;
  color: white;
  font-weight: 700;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  transition: 10ms ease-in-out;
}

.button-container button:hover {
  background-color: rgb(21, 21, 21);
}

.login-page-container .login-container form .login {
  font-size: 14px;
  text-align: center;
  color: rgb(0, 0, 0, 0.6);
}

.login-page-container .login-container form .login span {
  font-weight: 700;
  color: black;
  cursor: pointer;
}

.error-container {
  display: flex;
  background-color: rgb(245, 205, 205);
  border: 1px solid;
  width: 400px;
  margin-bottom: 10px;
  justify-content: center;
  padding: 5px 0;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
  opacity: 0;
  color: rgb(236, 64, 64);
  font-size: 0.8rem;
}

.login-page-container .button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-container .button-container button .spinner {
  width: 20px;
  height: 20px;
}
