.login-details-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  max-width: 400px;
  align-items: center;
  gap: 20px;
}

.login-details-container .wrapper {
  border: 1px solid rgb(234, 234, 234);
  background-color: rgb(250, 250, 250);
  padding: 20px 40px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 400px;
  width: 60vw;
}

.login-details-container .form {
  gap: 10px;
  width: 100%;
}

.login-details-container .form .name {
  display: flex;
  gap: 20px;
}

.login-details-container .form .name .MuiTextField-root {
  width: 100%;
}

.login-details-container .form a {
  font-size: 12px;
}

.login-details-container .form button {
  height: 40px;
  font-weight: 799;
  border: 0;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 20px 0 10px;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.login-details-container .form button:hover {
  background-color: var(--black-hover);
}
