.navbar-container {
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.navbar-container .wrapper {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  border-bottom: 2px solid white;
}

.navbar-container li {
  list-style: none;
}

.navbar-container ul {
  padding: 0;
}

.navbar-container .left-side .items {
  display: flex;
  font-weight: 700;
}

/* NAVBAR ITEMS */
.nav-item {
  cursor: pointer;
}

.navbar-container .left-side .items .nav-item {
  padding: 18px 10px;
}

.items .nav-item:hover {
  background-color: var(--white-hover);
  color: black;
}

.nav-item div:hover {
  text-decoration: underline;
}

/* NAVBAR EXPANDED MODAL */
.nav-item.expand .shop-categories {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100vw;
  background-color: var(--white-hover);
}

.nav-item.expand:hover .shop-categories {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.shop-categories .nav-item.expand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shop-categories .shop-item div {
  margin-bottom: 5px;
}

.shop-categories .shop-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shop-categories .shop-item li {
  font-weight: 500;
  font-size: 1rem;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shop-categories .shop-item li:hover {
  text-decoration: underline;
}

/* MIDDLE SIDE NAVBAR */
.navbar-container .middle-side .logo {
  display: flex;
  cursor: pointer;
  margin-right: 130px;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 300;
}

.navbar-container .middle-side .logo img {
  width: 50px;
}

/* RIGHT SIDE NAVBAR */
.navbar-container .right-side {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  width: 60px;
}

.navbar-container .right-side i:hover {
  color: var(--orange);
  transition: 100ms ease-in-out;
  cursor: pointer;
}

/* ACCOUNT CONTAINER */
.account-container {
  position: relative;
}

.account-modal {
  display: none;
  position: absolute;
  right: -20px;
  top: 10px;
  width: 150px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-modal li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.account-modal li:hover {
  background-color: var(--white-hover);
}

.account-container .account-modal.show {
  display: block;
  color: black;
}

/* CART ITEMS */
.navbar-container .right-side .cart {
  position: relative;
}

.navbar-container .right-side .cart-total {
  position: absolute;
  background-color: rgb(216, 33, 33);
  font-weight: 800;
  color: rgb(255, 255, 255);
  font-size: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  top: -5px;
  right: -7px;
  border: 0.5px solid black;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

/* AD BANNER UNDERNEATH NAVBAR */
.advertisement {
  display: flex;
  height: 90px;
  position: absolute;
  top: 0;
  background-color: var(--orange);
  width: 100vw;
  z-index: -1;
}

.advertisement .slider {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  width: 400px;
}

.slider .content {
  display: flex;
  gap: 50px;
  animation: slide 10s linear infinite;
}

/* HAMBURGER MENU */
.navbar-container .wrapper .left-side .fa-bars {
  display: none;
}

.sidebar {
  display: none;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 860px) {
  .navbar-container .wrapper .left-side .items {
    display: none;
  }

  .navbar-container .wrapper .left-side .fa-bars {
    display: block;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .navbar-container .middle-side .logo {
    margin-right: 0px;
    margin-left: 50px;
  }

  .sidebar {
    display: block;
    position: absolute;
    width: 250px;
    background-color: black;
    box-shadow: 0 0px 20px 10px rgb(0, 0, 0, 0.5);
    left: 0;
    height: 100vh;
    top: 0;
    padding: 40px 0px;
    transition: 200ms ease-in-out;
    transform: translateX(-120%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .sidebar .fa-solid.fa-x {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }

  .sidebar .fa-solid.fa-x:hover {
    background-color: var(--black-hover);
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
  }

  .sidebar ul li {
    padding: 0 20px;
    height: 80px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .sidebar ul li:hover {
    background-color: var(--white-hover);
    color: black;
  }

  .sidebar .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-categories {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background-color: rgb(38, 38, 38);
  }

  .sidebar-categories.show {
    max-height: 500px; /* Ensure this value covers your content's full height */
  }

  .sidebar-item .shop {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .sidebar-item .arrow {
    transition: transform 0.2s ease-in-out;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
  }

  .sidebar-item .arrow.rotate {
    transform: rotate(180deg); /* Rotate the arrow when expanded */
  }

  .sidebar-categories .shop-item {
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  /* Change to hamburger menu */
}
