.navbar-container {
  display: flex;
  position: fixed;
  width: 100vw;
  /* margin-top: 20px; */
  z-index: 10;
}

.navbar-container .wrapper {
  background-color: rgb(0, 0, 0);
  width: 100%;
  /* margin: 0 40px; */
  /* border-radius: 15px; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  /* box-shadow: 0 5px 10px rgb(0, 0, 0, 0.4); */
}

.navbar-container li {
  list-style: none;
}

.navbar-container ul {
  padding: 0;
}

.navbar-container .middle-side .logo {
  display: flex;
  cursor: pointer;
  margin-right: 130px;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 300;
}

.navbar-container .middle-side .logo img {
  width: 50px;
}

.navbar-container .left-side .items {
  display: flex;
  gap: 20px;
  font-weight: 700;
}

.items li:hover {
  color: var(--orange);
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.navbar-container .right-side {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  width: 60px;
}

.navbar-container .right-side i:hover {
  color: var(--orange);
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.shop-link {
  position: relative;
}

.shop-categories {
  display: none;
  position: absolute;
  left: 0;
  width: 150px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-link:hover .shop-categories {
  display: block;
}

.shop-categories li,
.account-modal li {
  padding: 10px;
  cursor: pointer;
}

.shop-categories li:hover {
  background-color: #f0f0f0;
}

.account-container {
  position: relative;
}

.account-modal {
  display: none;
  position: absolute;
  right: -20px;
  top: 10px;
  width: 150px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-container .account-modal.show {
  display: block;
  color: black;
}

.navbar-container .right-side .cart {
  position: relative;
}

.navbar-container .right-side .cart-total {
  position: absolute;
  background-color: rgb(216, 33, 33);
  font-weight: 800;
  color: rgb(255, 255, 255);
  font-size: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  top: -5px;
  right: -7px;
  border: 0.5px solid black;
  cursor: pointer;
  transition: 100ms ease-in-out;
}
