.parallax-image {
  height: 100vh;
  background-image: url("/protein_powder.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 700px) {
  .parallax-image {
    height: 70vh;
  }
}
