.orders-table {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 30px;
  width: 700px;
  gap: 10px;
}

.orders-table .order {
  display: flex;
  border: 1px solid rgb(206, 206, 206);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.orders-table .order:hover {
  border: 1px solid;
}

.orders-table .order .order-name {
  font-weight: 700;
  cursor: pointer;
}

.orders-table .order .order-name:hover {
  text-decoration: underline;
}

.orders-table .order .order-createdAt {
  font-size: 0.7rem;
}

.orders-table .order .order-quantity {
  font-size: 0.8rem;
}

.orders-table .empty-orders {
  border: 1px solid rgb(206, 206, 206);
  padding: 20px;
  justify-content: space-between;
  border-radius: 5px;
}
