.category-page-container {
  display: flex;
  flex-direction: column;
  padding: 100px 50px 20px;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.category-page-container .title-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1500px;
}

.category-page-container .category-title {
  font-size: calc(12px + 1vw);
  font-weight: 700;
  white-space: nowrap;
  flex-shrink: 0;
}

.category-page-container .title-container input {
  border: 1px solid;
  height: 30px;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  flex-grow: 1;
  min-width: 0;
}

.category-page-container .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  max-width: 1500px;
}

.search-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  gap: 5px;
}

.search-error i {
  color: rgb(225, 225, 225);
}

/* LOADING PRODUCTS */
.loading-products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(235, 235, 235, 0.4);
  width: 210px;
  height: 300px;
  border-radius: 15px;
  padding: 20px 20px 0;
}

.loading-products .img {
  width: 100%;
  height: 200px;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  transition: 10ms ease-in-out;
  animation: animate 500ms alternate infinite;
}

.loading-products .title {
  width: 100%;
  height: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  transition: 10ms ease-in-out;
  animation: animate 500ms alternate infinite;
}

@keyframes animate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
