.review-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 80vw; */
  gap: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  gap: 20px;
  /* width: 100%; */
}

.review .title {
  font-size: 1rem;
  font-weight: 700;
}

.bottom .review .rating {
  display: flex;
  flex-direction: column;
}

.bottom .review .rating i,
.add-review-container form i {
  color: rgb(230, 209, 55);
}

.bottom .review .date {
  color: gray;
  font-size: 0.8rem;
}

.product-page-container .add-review-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 1500px;
  max-width: 90vw;
}

.product-page-container .add-review-container .subtitle {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-page-container .add-review-container form {
  display: flex;
  flex-direction: column;
}

.add-review-container form label {
  font-weight: 600;
}

.add-review-container form textarea {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 1rem;
  font-family: "Lato", serif;
}

.add-review-container form input {
  margin-bottom: 10px;
  border: 1px solid;
  padding: 10px;
  font-size: 1rem;
}

.add-review-container form button {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  transition: 100ms ease-in-out;
  margin-bottom: 10px;
}

.add-review-container form button:hover {
  background-color: var(--black-hover);
}

.add-review-container form button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
