.account-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.account-page-container .account-navbar {
  padding-top: 90px;
  border-bottom: 1px solid rgb(224, 224, 224);
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
}

.account-page-container .account-navbar ul {
  display: flex;
  margin: 0;
  padding: 5px 0 0px;
  gap: 10px;
  justify-content: space-between;
  width: 500px;
}

.account-page-container .account-navbar ul li {
  list-style: none;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.account-page-container .account-navbar ul li div {
  border-bottom: 3px solid transparent;
  transition: 50ms ease-in-out;
}

.account-page-container .account-navbar ul li.active div {
  border-bottom: 2px solid var(--orange);
}

.account-page-container .account-navbar ul li:hover div {
  border-bottom: 3px solid var(--orange);
}

.account-page-container .account-main {
  width: 100%;
}

.account-page-container .account-main .subtitle {
  text-align: center;
  margin-top: 20px;
}

.account-page-container .account-main .content {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
