.product-not-found {
  padding: 100px 50px 0px;
  height: 100vh;
  font-size: 1.5rem;
}

.product-page-container {
  padding: 150px 50px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product-page-container .top {
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-page-container .left-side {
  display: flex;
  gap: 20px;
  position: relative;
}

.product-page-container .left-side .product-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-page-container .left-side .product-images img {
  width: 5vw;
  max-width: 70px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 50ms ease-in-out;
}

.product-page-container .left-side .product-images img:not(.active):hover {
  border: 1px solid rgb(0, 0, 0);
}

.product-page-container .left-side .product-images .active {
  border: 1px solid;
}

.product-page-container .left-side .display-product {
  width: 100%;
}

.product-page-container .left-side .display-product img {
  width: 100%;
  object-fit: contain;
  height: 500px;
}

.product-page-container .right-side {
  padding-left: 20px;
}

.product-page-container .right-side .product-name {
  font-size: 2rem;
  font-weight: 700;
}

.product-page-container .right-side .product-price {
  margin-top: 10px;
}

.product-page-container .right-side .product-category {
  font-size: 1.2rem;
  color: var(--orange);
  font-weight: 700;
}

.arrow {
  display: inline-block;
  transition: transform 400ms ease-in-out;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.product-page-container .right-side h4 {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 100ms ease-in-out;
}

.product-page-container .right-side h4:hover {
  color: var(--orange);
}

.product-page-container .right-side .quantity-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.product-page-container .right-side .quantity-container button {
  border: 1px solid;
  padding: 5px;
  font-size: 10px;
  border: 1px solid rgba(160, 160, 160, 0.1);
  background-color: rgb(244, 244, 244);
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.product-page-container .right-side .quantity-container button:hover {
  color: var(--orange);
}

.product-page-container .right-side .quantity-container .disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(228, 228, 228);
  color: rgb(0, 0, 0, 0.3);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.product-page-container .right-side .add-to-basket {
  margin-top: 20px;
}

.product-page-container .right-side .add-to-basket button {
  background-color: black;
  color: white;
  height: 50px;
  padding: 0 30px;
  border-radius: 5px;
  font-weight: 700;
  transition: 100ms ease-in-out;
  border: 0;
  cursor: pointer;
}

.product-page-container .right-side .add-to-basket button:hover {
  background-color: var(--black-hover);
}

.section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  padding: 0 10px;
  /* transition: 0.3s ease-in-out; */
}

.section.expand {
  padding: 0 10px;
  max-height: 500px;
  transition: 100me ease-in-out;
}
