.shop-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  margin-bottom: 50px;
}

.shop-page-container .title-container {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 1500px;
  padding: 60px 0 0;
}

.shop-page-container .search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.shop-page-container .category-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 50px 50px 20px;
  background-color: rgb(233, 233, 233);
  letter-spacing: 1px;
}

.shop-page-container .search {
  padding: 0 50px 20px;
}

.shop-page-container .search.sticky {
  position: fixed;
  top: 60px;
  z-index: 10;
  background-color: white;
}

.shop-page-container .title-container input {
  font-size: 1.2rem;
  padding: 5px 10px;
}

.shop-page-container .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 50px;
  width: 100%;
  max-width: 1500px;
}

.items-container.products-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  gap: 5px;
}

.search-error i {
  color: rgb(225, 225, 225);
}

/* LOADING PRODUCTS */
.loading-products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(239, 239, 239, 0.2);
  width: 250px;
  height: 430px;
  border: 1px solid rgb(243, 243, 243);
  padding: 20px 20px 0;
}

.loading-products .img {
  width: 100%;
  height: 250px;
  background: linear-gradient(
    90deg,
    rgb(231, 231, 231) 25%,
    rgb(250, 250, 250) 50%,
    rgb(231, 231, 231) 75%
  );
  background-size: 200% 100%;
  border-radius: 15px;
  transition: 10ms ease-in-out;
  animation: shimmer 2.5s infinite linear;
}

.loading-products .title {
  width: 100%;
  height: 20px;
  background: linear-gradient(
    90deg,
    rgb(231, 231, 231) 25%,
    rgb(250, 250, 250) 50%,
    rgb(231, 231, 231) 75%
  );
  background-size: 200% 100%;
  border-radius: 5px;
  transition: 10ms ease-in-out;
  animation: shimmer 2.5s infinite linear;
}

.loading-products .price {
  width: 50px;
  height: 20px;
  background: linear-gradient(
    90deg,
    rgb(231, 231, 231) 25%,
    rgb(250, 250, 250) 50%,
    rgb(231, 231, 231) 75%
  );
  background-size: 200% 100%;
  border-radius: 5px;
  transition: 10ms ease-in-out;
  animation: shimmer 2.5s infinite linear;
}

.loading-products .button {
  width: 100%;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgb(231, 231, 231) 25%,
    rgb(250, 250, 250) 50%,
    rgb(231, 231, 231) 75%
  );
  background-size: 200% 100%;
  border-radius: 5px;
  transition: 10ms ease-in-out;
  animation: shimmer 2.5s infinite linear;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
