.shop-page-container {
  display: flex;
  flex-direction: column;
  padding: 0 50px 20px;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.shop-page-container .title-container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1500px;
  padding: 100px 50px 20px;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.shop-page-container .search-container {
  display: flex;
  margin: 0 50px;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.shop-page-container .category-title {
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
  flex-shrink: 0;
}

.shop-page-container .title-container input {
  font-size: 1.2rem;
  padding: 5px 10px;
  flex-grow: 1;
}

.shop-page-container .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1500px;
  margin-top: 200px;
}

.search-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  gap: 5px;
}

.search-error i {
  color: rgb(225, 225, 225);
}

/* LOADING PRODUCTS */
.loading-products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(239, 239, 239, 0.2);
  width: 250px;
  height: 430px;
  /* border-radius: 15px; */
  border: 1px solid rgb(243, 243, 243);
  padding: 20px 20px 0;
}

.loading-products .img {
  width: 100%;
  height: 250px;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  transition: 10ms ease-in-out;
  animation: animate 500ms alternate infinite;
}

.loading-products .title {
  width: 100%;
  height: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  transition: 10ms ease-in-out;
  animation: animate 500ms alternate infinite;
}

@keyframes animate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
